* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F8F8;
}

p, li {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #313131;
}

@media (max-width: 768px) {
  p, li {
    font-size: 16px;
    line-height: 23px;
  }
}

h2 {
  font-weight: 900;
  font-size: 43px;
  letter-spacing: 0.01em;
  color: #616161;
}

h3 {
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.floating-icons li {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #313131;
  list-style-position: inside;
}

a {
  text-decoration: none !important;
  color: #2b2b2b;
  font-weight: 400;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.cta {
  width: 148px;
  height: 49px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#9941F2), to(#6F41F2));
  background: linear-gradient(90deg, #9941F2 0%, #6F41F2 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cta:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.end-dot {
  width: 16px;
  height: 16px;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#6F41F2), to(#836BC5));
  background: linear-gradient(180deg, #6F41F2 0%, #836BC5 100%);
  -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.07);
  border-radius: 19px;
}

.line {
  height: 262px;
  width: 14px;
}

@media (max-width: 400px) {
  h2 {
    font-size: 10vw;
  }
}

/**************** Nav Bar ****************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 96px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

#nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-right: 25px;
}

.logo-container {
  width: 40px;
  height: 40px;
}

.logo {
  -webkit-filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.2));
}

.nav-links__basic, .cta, .mobile-nav a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  z-index: 100;
}

.nav-links__basic {
  color: white;
  padding: 0px 19px 0px 19px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.circle {
  border-radius: 1000px;
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1);
}

#circle-1 {
  min-width: 530px;
  min-height: 530px;
  right: 45px;
  top: -265px;
  background: linear-gradient(137.35deg, #8C98FF 28.7%, #606BED 74.81%);
  z-index: -10;
}

#circle-2-clipper {
  position: absolute;
  min-width: 249px;
  min-height: 380px;
  right: 0px;
  top: -63px;
  overflow: hidden;
}

#circle-2 {
  top: 0;
  left: 0;
  min-width: 306px;
  min-height: 306px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BDA6ED), to(#D3C6EE));
  background: linear-gradient(180deg, #BDA6ED 0%, #D3C6EE 100%);
  z-index: 6;
}

#circle-3 {
  min-width: 136px;
  min-height: 136px;
  right: 160px;
  top: 170px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9941F2), to(#6F41F2));
  background: linear-gradient(180deg, #9941F2 0%, #6F41F2 100%);
  z-index: 5;
}

#circle-4 {
  min-width: 61px;
  min-height: 61px;
  right: 125px;
  top: 109px;
  background: linear-gradient(125.84deg, #A88CF8 8.94%, #8A69E9 74.11%);
  z-index: 7;
}

#circle-5 {
  width: 35px;
  height: 35px;
  right: 10%;
  top: 50%;
  background: linear-gradient(144.48deg, #1BC5EB 12.44%, #4292EC 135.85%);
}

.floating-icons {
  position: fixed;
  list-style: none;
  z-index: 1;
  left: 5%;
  bottom: 200px;
}

.floating-icon__button {
  width: 24px;
  height: 24px;
  margin: 15px 0px 0px 5px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.floating-icon__button:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* Tooltip text */
.tooltip .floating-icon-title {
  visibility: hidden;
  width: 120px;
  text-decoration: none !important;
  font-family: Rubik;
  color: #1d1d1d;
  text-align: center;
  /* Position the tooltip text */
  position: relative;
  z-index: 1;
  bottom: 8px;
  left: 14px;
  /* Fade in tooltip */
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.tooltip:hover .floating-icon-title {
  visibility: visible;
  opacity: 1;
}

.mobile-nav {
  background: -webkit-gradient(linear, left bottom, left top, from(#4f029c), to(#5431b6));
  background: linear-gradient(0deg, #4f029c 0%, #5431b6 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.mobile-links {
  list-style-type: none;
  padding: 0;
  margin-top: 13vh;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-links li {
  opacity: 0;
  width: 100%;
}

.mobile-links a {
  width: 100%;
  height: 13vh;
  display: block;
  font-size: 1.8em;
  line-height: 13vh;
  text-decoration: none;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: calc(5% + 2px);
  top: 30px;
  cursor: pointer;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
}

.toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #4b4b4b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.toggle-btn .bar:nth-child(2) {
  width: 20px;
}

#toggle:checked ~ .mobile-nav {
  opacity: 1;
  visibility: visible;
}

#toggle:checked ~ .mobile-nav ul li {
  -webkit-transition: translateY(100px);
  transition: translateY(100px);
  opacity: 1;
}

#toggle:checked ~ .mobile-nav ul li:nth-child(1) {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#toggle:checked ~ .mobile-nav ul li:nth-child(2) {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#toggle:checked ~ .mobile-nav ul li:nth-child(3) {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

#toggle:checked ~ .mobile-nav ul li:nth-child(4) {
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

#toggle:checked + label.toggle-btn .bar {
  background-color: #fff;
}

#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.mobile-floating-icons {
  position: fixed;
  bottom: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.mobile-floating-icon {
  width: 15vw;
  text-align: center;
}

.mobile-floating-icon__button {
  width: 24px;
  height: 24px;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

@media (max-width: 768px) {
  #nav-links, #nav-links__button, .floating-icons {
    display: none;
  }
  .toggle-btn {
    opacity: 1;
    visibility: visible;
  }
}

/******** Loading Bar *********/
.loading {
  position: fixed;
  width: 60px;
  height: 60px;
  left: calc(50vw - 30px);
  top: calc(50vh - 30px);
  z-index: 20;
  visibility: hidden;
}

.loading-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
}

#loading-circle {
  visibility: hidden;
  stroke-dasharray: 332px;
  stroke-dashoffset: 332px;
}

/******** Title Page *********/
#title {
  position: relative;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21vh;
}

.title-text {
  font-family: Rubik;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 0.01em;
  color: #616161;
}

.title-subtitle {
  font-family: Poppins;
  font-weight: 100;
  font-size: 21px;
  letter-spacing: 0.02em;
  color: #616161;
  margin-top: 8px;
}

.title-text span {
  font-weight: 900;
}

.title-card {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#FFFFFF));
  background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
  -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
  width: 730px;
  max-width: 90vw;
  text-align: left;
  padding: 0px 48px 48px 48px;
}

.title-card p {
  margin-top: 20px;
  max-width: 460px;
}

.profile-pic {
  width: 270px;
  height: 270px;
  -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
  border-radius: 200px;
  z-index: 1;
  margin-left: -130px;
  margin-top: -170px;
}

#profile-pic-mobile {
  display: none;
}

@media (max-width: 1350px) {
  .title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 10%;
  }
  .profile-pic {
    width: 180px;
    height: 180px;
    margin: 20px 20px 40px 40px;
  }
  .title-text {
    font-size: 8vw;
  }
  .title-subtitle {
    font-size: 14pt;
  }
  .title-card p {
    margin-top: 10px;
  }
}

@media (max-width: 1350px) and (min-width: 900px) {
  .title-text {
    font-size: 70px;
  }
  .title-subtitle {
    font-size: 16pt;
  }
}

@media (max-width: 480px) {
  .title-container {
    margin-top: 210px;
  }
  .title-card {
    padding: 0px 35px 35px 35px;
  }
  .title-text {
    font-size: 11.5vw;
  }
  .title-subtitle {
    margin-top: 3px;
    font-size: 16px;
  }
  #profile-pic {
    display: none;
  }
  #profile-pic-mobile {
    width: 160px;
    height: 160px;
    display: block;
    z-index: 8;
    margin: 0;
    position: absolute;
    top: 115px;
    left: calc(50% - 80px);
  }
  #circle-3 {
    display: none;
  }
  .title-card p {
    margin-top: 15px;
  }
}

/**************** What I Do ******************/
#what-i-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#what-i-do-cta {
  width: 120px;
}

@media (max-height: 860px) {
  #what-i-do-cta {
    display: none;
  }
}

@media (min-width: 1350px) {
  #what-i-do-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#what-i-do-line {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  margin-top: -3px;
  position: relative;
  top: -5px;
  z-index: -5;
}

#what-i-do h2 {
  margin-top: 30px;
}

.card-icon {
  width: 78px;
  height: 78px;
}

.what-i-do-cards-container {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-title {
  position: relative;
  color: white;
  top: 74px;
}

#development-icon {
  width: 94px;
  height: 94px;
}

.development h3 {
  top: 67px;
}

.development {
  background-color: #8C98FF;
}

.design {
  background-color: #BDA6ED;
}

.involvement {
  background-color: #8C42D6;
}

.what-i-do-card {
  margin: 0px 18px 0px 18px;
  background-color: transparent;
  width: 232px;
  height: 306px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.what-i-do-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.what-i-do-card:hover .what-i-do-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.what-i-do-card-front, .what-i-do-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.what-i-do-card-front {
  border-radius: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-i-do-card-back {
  border-radius: 54px;
  padding: 55px 20px 25px 23px;
  background-color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: left;
}

.what-i-do-card-back ul {
  padding-left: 20px;
  padding-top: 8px;
}

.what-i-do-card-back ul li {
  padding-bottom: 4px;
}

.what-i-do-card-back ul, .mobile-card-bottom ul {
  padding-left: 20px;
  padding-top: 8px;
}

.what-i-do-card-back ul li, .mobile-card-bottom ul li {
  padding-bottom: 4px;
}

.what-i-do-card-subtitle {
  font-size: 12pt;
  font-style: italic;
  padding-bottom: 8px;
}

.mobile-what-i-do-cards-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.mobile-what-i-do-card {
  margin-top: 24px;
  width: 80%;
  max-width: 370px;
  min-height: 250px;
  border-radius: 54px;
  -webkit-box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.12);
          box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.12);
}

.mobile-card-top {
  padding: 26px 28px 25px 28px;
  width: 100%;
  border-radius: 54px 54px 0 0;
  -webkit-box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.12);
          box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.12);
}

.mobile-card-bottom {
  padding: 15px 28px 25px 30px;
  text-align: left;
}

.mobile-card-icon {
  width: 60px;
  height: 60px;
  margin: 10px 10px 18px 10px;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -webkit-filter: drop-shadow(1px 9px 20px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 9px 20px rgba(0, 0, 0, 0.5));
}

.mobile-card-title {
  color: white;
}

@media (max-width: 768px) {
  .what-i-do-cards-container {
    display: none;
  }
  .mobile-what-i-do-cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/***************** Projects *******************/
#projects {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#projects h2 {
  margin-top: 365px;
}

.project-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.01em;
  color: #616161;
}

.project-subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  color: #616161;
}

.project-img {
  -webkit-filter: drop-shadow(7px 7px 35px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(7px 7px 35px rgba(0, 0, 0, 0.12));
}

.technologies {
  font-family: Poppins;
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #313131;
}

.share-link {
  width: 24px;
  height: 22px;
}

@media (min-width: 1159px) {
  #projects {
    background-image: url("./resources/img/line-project.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -5px;
  }
  #projects #projects-end-dot {
    margin-top: 340px;
  }
  #projects-start-dot, #projects-line {
    display: none;
  }
  .featured-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1159px;
    height: 419px;
  }
  .project-title {
    margin-top: 8px;
    margin-bottom: 12px;
  }
  .project-subtitle {
    margin-bottom: 12px;
  }
  .project-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-info {
    text-align: left;
    margin-left: 40px;
    width: 300px;
  }
  .project-info p {
    margin-bottom: 15px;
  }
  .technologies {
    margin-top: 14px;
  }
  .share-link {
    margin-top: 28px;
  }
  .right-align {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .right-align .project-info {
    margin-left: 0;
    margin-right: 31px;
    text-align: right;
  }
  #img-container-2 {
    width: 845px;
  }
  #esnlc-website {
    width: 730px;
  }
  #erbe-1 {
    width: 217px;
  }
  #erbe-2 {
    margin-left: 38px;
    width: 579px;
  }
  #officeworks-1 {
    margin-right: 36px;
    width: 292px;
  }
  #officeworks-2 {
    margin-right: 36px;
    width: 168px;
  }
  #officeworks-3 {
    width: 267px;
  }
  #project-1 {
    margin-top: 50px;
  }
  #project-2 {
    margin-top: 73px;
  }
  #project-2 .project-info {
    width: 250px;
  }
  #project-3 {
    margin-top: 90px;
  }
  #project-3 .project-title {
    margin-bottom: 0px;
  }
  #project-3 p {
    width: 250px;
  }
  #project-3 .technologies {
    margin-top: 30px;
  }
}

@media (max-width: 1159px) {
  .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("./resources/img/line-project-mobile.svg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: 14px 1423px;
  }
  #projects h2 {
    margin-top: 30px;
    margin-bottom: 23px;
  }
  #projects-start-dot {
    background: -webkit-gradient(linear, left top, left bottom, from(#8C98FF), to(#acb2f1));
    background: linear-gradient(180deg, #8C98FF 0%, #acb2f1 100%);
  }
  .featured-project {
    width: 90%;
    margin-bottom: 80px;
    max-width: 600px;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#FFFFFF));
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
  }
  .project-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .project-img {
    width: 100%;
    height: 100%;
  }
  #erbe-1 {
    width: 26.25847%;
    margin-right: 4%;
  }
  #erbe-2 {
    width: 69.74153%;
  }
  #officeworks-1 {
    width: 36.95186%;
    margin-right: 4%;
  }
  #officeworks-2 {
    width: 21.25997%;
    margin-right: 4%;
  }
  #officeworks-3 {
    width: 33.78817%;
  }
  .project-info {
    margin-top: 10px;
    text-align: left;
    padding: 0px 25px 19px 25px;
  }
  .project-info p {
    margin-bottom: 7px;
  }
  .project-info .technologies {
    margin-bottom: 12px;
  }
  .project-title {
    font-size: 25pt;
    margin-bottom: -3px;
  }
  .project-subtitle {
    font-size: 13pt;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media (max-width: 1159px) and (max-width: 400px) {
  .project-title {
    font-size: 7vw;
  }
  .project-subtitle {
    font-size: 4vw;
  }
}

@media (max-width: 1159px) {
  #project-3 {
    margin-bottom: 180px;
  }
  #project-3 .project-title {
    margin-bottom: -18px;
  }
}

/****************** Contact *******************/
#contact {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.card {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#FFFFFF));
  background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
  -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-line {
  position: relative;
  top: 3px;
  z-index: -1;
}

#contact-end-dot {
  background: -webkit-gradient(linear, left bottom, left top, from(#a298f8), to(#8C98FF));
  background: linear-gradient(0deg, #a298f8 0%, #8C98FF 100%);
}

#mail-icon {
  margin-top: 55px;
  width: 90px;
  height: 90px;
  -webkit-filter: drop-shadow(0px 12px 15px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 12px 15px rgba(0, 0, 0, 0.2));
}

#contact-card {
  margin: 38px 0 16vh 0;
  padding: 0 0 43px 0;
  width: 527px;
}

#contact-text {
  margin-top: 19px;
  width: 80%;
  text-align: left;
  color: #313131;
}

#contact-button {
  margin-top: 28px;
}

@media (max-width: 768px) {
  #contact-card {
    width: 90%;
    max-width: 527px;
    padding: 0px 0px 35px 0px;
  }
  #contact-text {
    position: relative;
    width: 84%;
    margin-top: 13px;
  }
}

/******************* Footer ********************/
footer {
  width: 100%;
  height: 100px;
  background: #4D4D4D;
  -webkit-box-shadow: 0px -40px 20px #FFFFFF;
          box-shadow: 0px -40px 20px #FFFFFF;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer p {
  font-family: Rubik;
  color: white;
}

/**************** Animations ******************/
@-webkit-keyframes fadein-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadein-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadein-up-0 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein-up-0 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadein-up-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein-up-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadein-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein-up-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein-up-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes come-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes come-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes loading-circle {
  0% {
    visibility: visible;
    opacity: 0;
  }
  10% {
    opacity: 1;
    stroke-dasharray: 332px;
    stroke-dashoffset: 332px;
  }
  50% {
    stroke-dashoffset: 0;
  }
  80% {
    opacity: 1;
    stroke-dashoffset: -332px;
  }
  90% {
    opacity: 1;
    stroke-dashoffset: -332px;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: -332px;
  }
}

@keyframes loading-circle {
  0% {
    visibility: visible;
    opacity: 0;
  }
  10% {
    opacity: 1;
    stroke-dasharray: 332px;
    stroke-dashoffset: 332px;
  }
  50% {
    stroke-dashoffset: 0;
  }
  80% {
    opacity: 1;
    stroke-dashoffset: -332px;
  }
  90% {
    opacity: 1;
    stroke-dashoffset: -332px;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: -332px;
  }
}

@-webkit-keyframes cover-l {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -80;
  }
}

@keyframes cover-l {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -80;
  }
}

@-webkit-keyframes cover-r {
  0% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -80;
  }
}

@keyframes cover-r {
  0% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -80;
  }
}

@-webkit-keyframes appear {
  0% {
    visibility: visible;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    visibility: visible;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#cover-r {
  stroke-dasharray: 80;
  stroke-dashoffset: 0;
  -webkit-animation: cover-r 2s cubic-bezier(0.33, -0.01, 0, 1.12) forwards;
          animation: cover-r 2s cubic-bezier(0.33, -0.01, 0, 1.12) forwards;
}

#cover-l {
  stroke-dasharray: 80;
  stroke-dashoffset: 0;
  -webkit-animation: cover-l 1s cubic-bezier(0.33, -0.01, 0, 1.12) forwards;
          animation: cover-l 1s cubic-bezier(0.33, -0.01, 0, 1.12) forwards;
}

#loading-circle {
  -webkit-animation: loading-circle 2s ease forwards;
          animation: loading-circle 2s ease forwards;
}

.loading {
  -webkit-animation: appear 2s ease forwards;
          animation: appear 2s ease forwards;
}

.title-text {
  -webkit-animation: fadein-up 1.8s ease 2.5s forwards;
          animation: fadein-up 1.8s ease 2.5s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.title-subtitle, .title-card, .title-card p, .profile-pic {
  -webkit-animation: fadein-up-0 2s ease 2.5s forwards;
          animation: fadein-up-0 2s ease 2.5s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.floating-icons {
  -webkit-animation: fadein-1 1.5s ease 2.5s forwards;
          animation: fadein-1 1.5s ease 2.5s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.logo-container, nav, .toggle-btn {
  -webkit-animation: fadein-up-0 1.5s ease 3.2s forwards;
          animation: fadein-up-0 1.5s ease 3.2s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.circle {
  -webkit-animation: fadein-up-0 2s ease 3s forwards;
          animation: fadein-up-0 2s ease 3s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#what-i-do {
  -webkit-animation: fadein-up-2 2s ease 2.5s forwards;
          animation: fadein-up-2 2s ease 2.5s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.come-in {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 1;
  -webkit-animation: come-in 2s ease forwards;
          animation: come-in 2s ease forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.already-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
}
/*# sourceMappingURL=style.css.map */