* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8F8;
  }
  
  p, li {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #313131;
  }

  @media (max-width: 477px) {
    p, li {
      font-size: 16px;
      line-height: 23px;
    }
  }
  
  h2 {
    font-weight: 900;
    font-size: 43px;
    letter-spacing: 0.01em;
    color: #616161;
  }
  
  h3 {
    font-family: Rubik;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
  
  .floating-icons li {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #313131;
    list-style-position: inside;
  }

  a {
    text-decoration: none !important;
    color: #2b2b2b;
    font-weight: 400;
  }
  
  button {
    border: none;
    cursor: pointer;
    outline: none;
    height: 49px;
    color: black;
    background: white;
    border-radius: 34px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.3s ease-out;

    &:hover {
      transform: translateY(-3px);
    }
  }
  
  .cta {
    width: 148px;
    height: 49px;
    color: white;
    background: linear-gradient(90deg, #9941F2 0%, #6F41F2 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .end-dot {
    width: 16px;
    height: 16px;
    top: 0;
    background: linear-gradient(180deg, #6F41F2 0%, #836BC5 100%);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 19px;
  }
  
  .line {
    height: 262px;
    width: 14px;
  }

  @media (max-width: 400px) {
    h2 {
      font-size: 10vw;
    }
  }
  
  /**************** Nav Bar ****************/
  
  header {
    display: flex;
    width: 90%;
    height: 96px;
    margin: auto;
    align-items: center;
  }
  
  nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  
  #nav-links {
    display: flex;
    list-style: none;
    padding-right: 25px;
  }
  
  .logo-container {
    width: 40px;
    height: 40px;
  }
  
  .logo {
    -webkit-filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.2));
    filter: drop-shadow( 7px 7px 20px rgba(0, 0, 0, 0.2));
  }
  
  .nav-links__basic, .cta, .mobile-nav a, button {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    z-index: 100;
    font-family: Poppins;
  }
  
  .nav-links__basic {
    color: white;
    padding: 0px 19px 0px 19px;
  }

  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .circle {
    border-radius: 1000px;
    position: absolute;
    overflow: hidden;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1);
  }

  #circle-1 {
    min-width: 530px;
    min-height: 530px;
    right: 45px;
    top: -265px;
    background: linear-gradient(137.35deg, #8C98FF 28.7%, #606BED 74.81%);
    z-index: -10;
  }

  #circle-2-clipper {
    position: absolute;
    min-width: 249px;
    min-height: 380px;
    right: 0px;
    top: -63px;
    overflow: hidden;
  }

  #circle-2 {
    top: 0;
    left: 0;
    min-width: 306px;
    min-height: 306px;
    background: linear-gradient(180deg, #BDA6ED 0%, #D3C6EE 100%);
    z-index: 6;
  }

  #circle-3 {
    min-width: 136px;
    min-height: 136px;
    right: 160px;
    top: 170px;
    background: linear-gradient(180deg, #9941F2 0%, #6F41F2 100%);
    z-index: 5;
  }

  #circle-4 {
    min-width: 61px;
    min-height: 61px;
    right: 125px;
    top: 109px;
    background: linear-gradient(125.84deg, #A88CF8 8.94%, #8A69E9 74.11%);
    z-index: 7;
  }

  #circle-5 {
    width: 35px;
    height: 35px;
    right: 10%;
    top: 50%;
    background: linear-gradient(144.48deg, #1BC5EB 12.44%, #4292EC 135.85%);
  }


  
  .floating-icons {
    position: fixed;
    list-style: none;
    z-index: 1;
    left: 5%;
    bottom: 200px;
  }
  
  .floating-icon__button {
    width: 24px;
    height: 24px;
    margin: 15px 0px 0px 5px;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  
  .floating-icon__button:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  
  /* Tooltip text */
  .tooltip .floating-icon-title {
    visibility: hidden;
    width: 120px;
    text-decoration: none !important;
    font-family: Rubik;
    color: rgb(29, 29, 29);
    text-align: center;
  
    /* Position the tooltip text */
    position: relative;
    z-index: 1;
    bottom: 8px;
    left: 14px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .tooltip:hover .floating-icon-title {
    visibility: visible;
    opacity: 1;
  }
  
  
  
  .mobile-nav {
    background: linear-gradient(0deg, rgb(79, 2, 156) 0%, rgb(84, 49, 182) 100%);
    position:fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  
  .mobile-links {
    list-style-type:none;
    padding:0;
    margin-top: 13vh;
    position:absolute;
    left:0;
    width: 100%;
    height: 50%;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-links li {
    opacity: 0;
    width: 100%;
  }
  
  .mobile-links a {
    width: 100%;
    height: 13vh;
    display: block;
    font-size: 1.8em;
    line-height: 13vh;
    text-decoration: none;
    text-align:center;
    color:#fff;
    transition:all 0.2s ease-in-out;
  }
  
  .toggle-btn {
    display:block;
    position:fixed;
    z-index:10;
    right: calc(5% + 2px);
    top: 30px;
    cursor:pointer;
    z-index: 11;
  
    opacity: 0;
    visibility: hidden;
  }
  
  .toggle-btn .bar {
    width:30px;
    height:2px;
    margin:7px auto;
    background-color:rgb(75, 75, 75);
    transition:all 0.3s ease-in-out;
  }
  
  .toggle-btn .bar:nth-child(2) {
    width:20px;
  }
  
  #toggle:checked ~ .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  #toggle:checked ~ .mobile-nav ul li {
    transition: translateY(100px);
    opacity: 1;
  }
  #toggle:checked ~ .mobile-nav ul li:nth-child(1) {
    transition: all 0.2s;
  }
  #toggle:checked ~ .mobile-nav ul li:nth-child(2) {
    transition: all 0.8s;
  }
  #toggle:checked ~ .mobile-nav ul li:nth-child(3) {
    transition: all 1.2s;
  }
  #toggle:checked ~ .mobile-nav ul li:nth-child(4) {
    transition: all 1.8s;
  }
  #toggle:checked + label.toggle-btn .bar {
    background-color: #fff;
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  
  .mobile-floating-icons {
    position: fixed;
    bottom: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style-type:none;
    padding: 0;
  }
  
  .mobile-floating-icon {
    width: 15vw;
    text-align: center;
  }
  
  .mobile-floating-icon__button {
    width: 24px;
    height: 24px;
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
  }
  
  @media (max-width: 768px) {
    #nav-links, #nav-links__button, .floating-icons {
      display: none;
    }
  
    .toggle-btn {
      opacity: 1;
      visibility: visible;
    }
  }

  /******** Loading Bar *********/
  .loading {
    position: fixed;
    width: 60px;
    height: 60px;
    left: calc(50vw - 30px);
    top: calc(50vh - 30px);
    z-index: 20;
    visibility: hidden;
  }

  .loading-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
  }
  
  #loading-circle {
    visibility: hidden;
    stroke-dasharray: 332px; 
    stroke-dashoffset: 332px;
  }
  
  /******** Title Page *********/
  
  #title {
    position: relative;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title-container {
    display: flex;
    margin-top: 21vh;
  }
  
  .title-text {
    font-family: Rubik;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: 0.01em;
    color: #616161;
  }
  
  .title-subtitle {
    font-family: Poppins;
    font-weight: 100;
    font-size: 21px;
    letter-spacing: 0.02em;
    color: #616161;
    margin-top: 8px;
  }
  
  .title-text span {
    font-weight: 900;
  }

  .title-card {
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
    width: 730px;
    max-width: 90vw;
    text-align: left;
    padding: 0px 48px 48px 48px;

    p {
      margin-top: 20px;
      max-width: 460px;
    }
  }

  .profile-pic {
    width: 270px;
    height: 270px;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
    border-radius: 200px;
    z-index: 1;
    margin-left: -130px;
    margin-top: -170px;
  }

  #profile-pic-mobile {
    display: none;
  }
  
  @media (max-width: 1350px) {
    
    .title-container {
      flex-direction: column-reverse;
      margin-top: 10%;
    }

    .profile-pic {
      width: 180px;
      height: 180px;
      margin: 20px 20px 40px 40px;
    }

    .title-text {
      font-size: 8vw;
    }

    .title-subtitle {
      font-size: 20px;
    }

    .title-card p {
      margin-top: 10px;
    }

    @media (min-width: 900px) {
      .title-text {
        font-size: 70px;
      }

      .title-subtitle {
        font-size: 20px;
      }
    }
  }
  
  @media (max-width: 480px) {
    
    .title-container {
      margin-top: 210px;
    }

    .title-card {
      padding: 0px 35px 35px 35px;
    }

    .title-text {
      font-size: 11.5vw;
    }

    .title-subtitle {
      margin-top: 6px;
      font-size: 20px;
    }
    
    #profile-pic {
      display: none;
    }

    #profile-pic-mobile {
      width: 160px;
      height: 160px;
      display: block;
      z-index: 8;
      margin: 0;
      position: absolute;
      top: 115px;
      left: calc(50% - 80px);
    }

    #circle-3 {
      display: none;
    }

    .title-card p {
      margin-top: 15px;
    }
  }

  /**************** What I Do ******************/
  
  #what-i-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #what-i-do-cta {
    width: 120px;

    @media (max-height: 860px) {
      display: none;
    }

    @media (min-width: 1350px) {
      display: flex;
      justify-content: center;
    }
  }
  
  #what-i-do-line {
    transform: scaleY(-1);
    margin-top: -3px;
    position: relative;
    top: -5px;
    z-index: -5;
  }
  
  #what-i-do h2 {
    margin-top: 30px;
  }
  
  .card-icon {
    width: 78px;
    height: 78px;
  }
  
  .what-i-do-cards-container {
    margin-top: 30px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-title {
    position: relative;
    color: white;
    top: 74px;
  }
  
  #development-icon {
    width: 94px;
    height: 94px;
  }
  
  .development h3 {
    top: 67px;
  }
  
  .development {
    background-color: #8C98FF;
  }
  
  .design {
    background-color: #BDA6ED;
  }
  
  .involvement {
    background-color: #8C42D6;
  }
  
  .what-i-do-card {
    margin: 0px 18px 0px 18px;
    background-color: transparent;
    width: 232px;
    height: 306px;
    perspective: 1000px;
  }
  
  .what-i-do-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .what-i-do-card:hover .what-i-do-card-inner {
    transform: rotateY(180deg);
  }
  
  .what-i-do-card-front, .what-i-do-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .what-i-do-card-front {
    border-radius: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .what-i-do-card-back {
    border-radius: 54px;
    padding: 55px 20px 25px 23px;
    background-color: white;
    transform: rotateY(180deg);
    text-align: left;

    ul {
      padding-left: 20px;
      padding-top: 8px;

      li {
        padding-bottom: 4px;
      }
    }
  }

  .what-i-do-card-back, .mobile-card-bottom {
    ul {
      padding-left: 20px;
      padding-top: 8px;
  
      li {
        padding-bottom: 4px;
      }
    }
  }
  
  .what-i-do-card-subtitle {
    font-size: 12pt;
    font-style: italic;
    padding-bottom: 8px;
  }
  
  
  
  .mobile-what-i-do-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .mobile-what-i-do-card {
    margin-top: 24px;
    width: calc(min(370px, calc(100vw - 32px)));
    min-height: 250px;
    border-radius: 54px;
    box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.12);
  }
  
  .mobile-card-top {
    padding: 26px 28px 25px 28px;
    width: 100%;
    border-radius: 54px 54px 0 0;
    box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.12);
  }
  
  .mobile-card-bottom {
    padding: 15px 28px 25px 30px;
    text-align: left;
  }
  
  .mobile-card-icon {
    width: 60px;
    height: 60px;
    margin: 10px 10px 18px 10px;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -webkit-filter: drop-shadow(1px 9px 20px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 9px 20px rgba(0, 0, 0, 0.5));
  }
  
  .mobile-card-title {
    color: white;
  }
  
  
  @media (max-width: 768px) {
    .what-i-do-cards-container {
      display: none;
    }
  
    .mobile-what-i-do-cards-container {
      display: flex;
    }
  }
  
  /***************** Projects *******************/
  #projects {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-top: 30px;
      margin-bottom: 23px;
    }
  }

  .projects-container {
    width: calc(min(1000px, 90vw));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./resources/img/line-project-mobile.svg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: 14px 1423px;
  }

  #projects-start-dot {
    background: linear-gradient(180deg, #8C98FF 0%, rgb(172, 178, 241) 100%);
  }

  .featured-project {
    width: 100%;
    height: 377px;
    box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.06);
    border-radius: 54px;
    margin-top: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-out;

    img {
      height: 100%;
    }

    .project-info button {
      margin-top: 16px;
    }

    &:hover {
      width: calc(min(1005px, calc(90vw + 5px)));
    }
  }

  .project-info {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;

    p {
      margin-bottom: 15px;
    }
  }

  #project-1 {
    background: linear-gradient(98.82deg, #7592DC 44.26%, #4775BA 98.53%);

    .project-info {
      color: white;
      margin-left: -120px;
      margin-right: 20px;
      position: relative;
      left: 160px;
    }

    .project-info {
      .project-title, p {
        color: white;
      }
    }
  }

  #project-2 {
    background: linear-gradient(98.82deg, #616161 44.26%, #393939 98.53%);
    color: white;
    img {
      margin-right: -100px;
    }
    .project-info {
      position: relative;
      left: 40px;
      .project-title, p {
        color: white;
      }
    }
  }

  #project-3 {
    background: linear-gradient(98.82deg, #FFFFFF 44.26%, #F3F3F3 98.53%);
    margin-bottom: 120px;

    img {
      height: 550px;
    }

    button {
      background-color: rgba(240, 240, 240, 0.91);
    }

    .project-info {
      position: relative;
      left: 40px;
      margin-right: 20px;
    }
  }

  .project-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #616161;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  // For smaller windows
  @media (max-width: 1030px) {
    #project-1 img {
      margin-right: -150px;
    }

    #project-2 img {
      margin-right: -250px;
    }

    #project-3 img {
      margin-right: -50px;
    }
  }

  // For tablets
  @media (max-width: 855px) {
    #project-1 img {
      margin-right: -200px;
    }

    #project-2 img {
      margin-right: -275px;
    }

    #project-3 img {
      margin-right: -100px;
    }
  }

  // For tablets
  @media (max-width: 768px) {
    #project-1 img {
      margin-right: -250px;
    }

    #project-2 img {
      margin-right: -325px;
    }

    #project-3 img {
      margin-right: -150px;
    }
  }

  // For tablets
  @media (max-width: 718px) {
    #project-1 img {
      margin-right: -300px;
    }

    #project-2 img {
      margin-right: -375px;
    }

    #project-3 img {
      margin-right: -200px;
    }
  }

  // For tablets
  @media (max-width: 668px) {
    #project-1 img {
      margin-right: -350px;
    }

    #project-2 img {
      margin-right: -425px;
    }

    #project-3 img {
      margin-right: -250px;
    }
  }

  // For tablets
  @media (max-width: 618px) {
    #project-1 img {
      margin-right: -400px;
    }

    #project-2 img {
      margin-right: -475px;
    }

    #project-3 img {
      margin-right: -300px;
    }
  }

  // For tablets
  @media (max-width: 568px) {
    #project-1 img {
      margin-right: -450px;
    }

    #project-2 img {
      margin-right: -525px;
    }

    #project-3 img {
      margin-right: -350px;
    }
  }

  // For phones
  @media (max-width: 477px) {

    .featured-project {
      flex-direction: column;
      height: auto;

      img {
        height: 220px;
        margin-right: 0 !important;
      }

      .project-info {
        width: 100%;
        left: 0 !important;
        margin: 0 !important;
        padding: 24px;
        padding-top: 36px;
      }
    }

    #project-3 {
      img {
        height: 380px;
        margin-bottom: -80px;
      }
      .project-info {
        padding-bottom: 0;
      }
    }
  }
  
  /****************** Contact *******************/

  #contact {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card {
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.06);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #contact-line {
    position: relative;
    top: 3px;
    z-index: -1;
  }
  
  #contact-end-dot {
    background: linear-gradient(0deg, rgb(162, 152, 248) 0%, #8C98FF 100%);
  }
  
  #mail-icon {
    margin-top: 55px;
    width: 90px;
    height: 90px;
    -webkit-filter: drop-shadow(0px 12px 15px rgba(0, 0, 0, 0.2));
    filter: drop-shadow( 0px 12px 15px rgba(0, 0, 0, 0.2));
  }
  
  #contact-card {
    margin: 38px 0 16vh 0;
    padding: 0 0 43px 0;
    width: 527px;
  }
  
  #contact-text {
    margin-top: 19px;
    width: 80%;
    text-align: left;
    color: #313131;
  }
  
  #contact-button {
    margin-top: 28px;
  }
  
  @media (max-width: 768px) {
    #contact-card {
      width: 90%;
      max-width: 527px;
      padding: 0px 0px 35px 0px;
    }
  
    #contact-text {
      position: relative;
      width: 84%;
      margin-top: 13px;
    }
  }
  
  
  /******************* Footer ********************/
  
  footer {
    width: 100%;
    height: 100px;
    background: #4D4D4D;
    box-shadow: 0px -40px 20px #FFFFFF;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  footer p {
    font-family: Rubik;
    color: white;
  }
  
  
  /**************** Animations ******************/
  
  @keyframes fadein-up {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0px); }
  }
  
  @keyframes fadein-up-0 {
    0% { opacity: 0; transform: translateY(10px); }
    20% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0px); }
  }
  
  @keyframes fadein-up-1 {
    0% { opacity: 0; transform: translateY(10px); }
    50% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0px); }
  }
  
  @keyframes fadein-1 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadein-up-2 {
    0% { opacity: 0; transform: translateY(10px); }
    60% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0px); }
  }

  @keyframes come-in {
    0% { opacity: 0; transform: translateY(10px); }
    50% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0px); }
  }

  @keyframes loading-circle {
    0% { visibility: visible; opacity: 0; }
    10% { opacity: 1; stroke-dasharray: 332px; stroke-dashoffset: 332px; }
    50% { stroke-dashoffset: 0; }
    80% { opacity: 1; stroke-dashoffset: -332px; }
    90% { opacity: 1; stroke-dashoffset: -332px; }
    100% { opacity: 0; stroke-dashoffset: -332px; }
  }

  @keyframes cover-l {
    0% { visibility: visible; opacity: 1; }
    100% { opacity: 1; stroke-dashoffset: -80; }
  }

  @keyframes cover-r {
    0% { visibility: visible; opacity: 1; }
    20% { stroke-dashoffset: 0; }
    100% { opacity: 1; stroke-dashoffset: -80; }
  }

  @keyframes appear {
    0% { visibility: visible; opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }

  #cover-r {
    stroke-dasharray: 80;
    stroke-dashoffset: 0;
    animation: cover-r 2s cubic-bezier(.33,-0.01,0,1.12) forwards;
  }

  #cover-l {
    stroke-dasharray: 80;
    stroke-dashoffset: 0;
    animation: cover-l 1s cubic-bezier(.33,-0.01,0,1.12) forwards;
  }

  #loading-circle {
    animation: loading-circle 2s ease forwards;
  }

  .loading {
    animation: appear 2s ease forwards;
  }
  
  .title-text {
    animation: fadein-up 1.8s ease 2.5s forwards;
    animation-fill-mode: both;
  }
  
  .title-subtitle, .title-card, .title-card p, .profile-pic {
    animation: fadein-up-0 2s ease 2.5s forwards;
    animation-fill-mode: both;
  }
  
  .floating-icons {
    animation: fadein-1 1.5s ease 2.5s forwards;
    animation-fill-mode: both;
  }
  
  .logo-container, nav, .toggle-btn {
    animation: fadein-up-0 1.5s ease 3.2s forwards;
    animation-fill-mode: both;
  }

  .circle {
    animation: fadein-up-0 2s ease 3s forwards;
    animation-fill-mode: both;
  }
  
  #what-i-do {
    animation: fadein-up-2 2s ease 2.5s forwards;
    animation-fill-mode: both;
  }
  
  .come-in {
    transform: translateY(150px);
    opacity: 1;
    animation: come-in 2s ease forwards;
    animation-fill-mode: both;
  }
  
  .already-visible {
    transform: translateY(0);
    animation: none;
  }